django==4.2.5
djangorestframework==3.14.0
django-cors-headers==4.2.0
djangorestframework-simplejwt[crypto]==5.3.0
django-filter==23.3
django-simple-history
drf-spectacular==0.27.1 
gunicorn==21.2.0
psycopg2-binary==2.9.7
Pillow
rembg==2.0.52
celery
Redis
opencv-contrib-python-headless
django-storages
boto3
shapely==2.0.2
albumentations
ultralytics
django-silk
django-simple-history
cvat-sdk[pytorch]
cvat-cli
